if(params.ica_smoke_test) {
    params.input = null
   includeConfig 'conf/test_full.config'
}
params.input = null  
params.seq_center = null  
params.fragment_size = 200  
params.fingerprint_bins = 500000  
params.read_length = null  
params.genome = null  
params.igenomes_base = 's3://ngi-igenomes/igenomes'  
params.save_reference = false  
params.clip_r1 = null  
params.clip_r2 = null  
params.three_prime_clip_r1 = null  
params.three_prime_clip_r2 = null  
params.trim_nextseq = null  
params.skip_trimming = false  
params.save_trimmed = false  
params.aligner = 'bwa'  
params.bwa_min_score = null  
params.keep_dups = false  
params.keep_multi_map = false  
params.save_align_intermeds = false  
params.save_unaligned = false  
params.narrow_peak = false  
params.broad_cutoff = 0.1  
params.macs_fdr = null  
params.macs_pvalue = null  
params.min_reps_consensus = 1  
params.save_macs_pileup = false  
params.skip_peak_qc = false  
params.skip_peak_annotation = false  
params.skip_consensus_peaks = false  
params.deseq2_vst = true  
params.skip_deseq2_qc = false  
params.skip_qc = false  
params.skip_fastqc = false  
params.skip_picard_metrics = false  
params.skip_preseq = false  
params.skip_plot_profile = false  
params.skip_plot_fingerprint = false  
params.skip_spp = false  
params.skip_igv = false  
params.skip_multiqc = false  
params.bamtools_filter_pe_config = "$projectDir/assets/bamtools_filter_pe.json"  
params.bamtools_filter_se_config = "$projectDir/assets/bamtools_filter_se.json"  
params.multiqc_config = null  
params.multiqc_title = null  
params.max_multiqc_email_size = '25.MB'  
params.plaintext_email = false  
params.monochrome_logs = false  
params.help = false  
params.validate_params = true  
params.show_hidden_params = false  
params.schema_ignore_params = 'genomes'  
params.custom_config_version = 'master'  
params.custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"  
params.config_profile_description = null  
params.config_profile_contact = null  
params.config_profile_url = null  
params.config_profile_name = null  
params.max_memory = '128.GB'  
params.max_cpus = 16  
params.max_time = '240.h'  
params.genomes = [:]  
docker.enabled = true  
docker.userEmulation = true  
params.outdir = 'out'  
params.publish_dir_mode = 'copy'  
params.conda_enabled = false  
params.igenomes_ignore = false  
params.enable_conda = false  
params.email_on_fail = null  
params.email = null  
process = [:]  
params.ica_smoke_test = false  
includeConfig 'conf/base.ica.config'
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
//   includeConfig "${params.custom_config_base}/pipeline/chipseq.config"
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}
process.shell = ['/bin/bash', '-euo', 'pipefail']
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
includeConfig 'conf/modules.config'
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
