if(params.ica_smoke_test) {
    params.input = null
   includeConfig 'conf/test_full.config'
}
params.genome = false  
params.input = null  
params.input_paths = null  
params.single_end = false  
params.config_profile_name = null  
params.awsqueue = null  
params.awsregion = 'eu-west-1'  
params.awscli = null  
params.validate_params = true  
params.schema_ignore_params = 'genomes,input_paths'  
params.show_hidden_params = false  
params.udg_type = 'none'  
params.single_stranded = false  
params.colour_chemistry = 4  
params.bam = false  
params.snpcapture_bed = null  
params.run_convertinputbam = false  
params.fasta = null  
params.bwa_index = null  
params.bt2_index = null  
params.fasta_index = null  
params.seq_dict = null  
params.large_ref = false  
params.save_reference = false  
params.genomes = false  
params.skip_fastqc = false  
params.skip_adapterremoval = false  
params.skip_preseq = false  
params.skip_deduplication = false  
params.skip_damage_calculation = false  
params.skip_qualimap = false  
params.complexity_filter_poly_g = false  
params.complexity_filter_poly_g_min = 10  
params.clip_forward_adaptor = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'  
params.clip_reverse_adaptor = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTA'  
params.clip_adapters_list = null  
params.clip_readlength = 30  
params.clip_min_read_quality = 20  
params.min_adap_overlap = 1  
params.skip_collapse = false  
params.skip_trim = false  
params.preserve5p = false  
params.mergedonly = false  
params.qualitymax = 41  
params.run_post_ar_trimming = false  
params.post_ar_trim_front = 7  
params.post_ar_trim_tail = 7  
params.post_ar_trim_front2 = 7  
params.post_ar_trim_tail2 = 7  
params.mapper = 'bwaaln'  
params.bwaalnn = 0.01 // From Oliva et al. 2021  
params.bwaalnk = 2  
params.bwaalnl = 1024 // From Oliva et al. 2021  
params.bwaalno = 2 // From Oliva et al. 2021  
params.circularextension = 500  
params.circulartarget = 'MT'  
params.circularfilter = false  
params.bt2_alignmode = 'local' // from Cahill 2018  
params.bt2_sensitivity = 'sensitive' // from Poullet and Orlando  
params.bt2n = 0 // Do not set Cahill 2018 recommendation of 1 here, so not to 'hide' overriding bowtie2 presets  
params.bt2l = 0  
params.bt2_trim5 = 0  
params.bt2_trim3 = 0  
params.bt2_maxins = 500  
params.hostremoval_input_fastq = false  
params.hostremoval_mode = 'remove'  
params.run_bam_filtering = false  
params.bam_mapping_quality_threshold = 0  
params.bam_filter_minreadlength = 0  
params.bam_unmapped_type = 'discard'  
params.dedupper = 'markduplicates'  
params.dedup_all_merged = false  
params.preseq_step_size = 1000  
params.preseq_mode = 'c_curve'  
params.preseq_bootstrap = 100  
params.preseq_maxextrap = 10000000000  
params.preseq_cval = 0.95  
params.preseq_terms = 100  
params.damageprofiler_length = 100  
params.damageprofiler_threshold = 15  
params.damageprofiler_yaxis = 0.30  
params.run_pmdtools = false  
params.pmdtools_range = 10  
params.pmdtools_threshold = 3  
params.pmdtools_reference_mask = null  
params.pmdtools_max_reads = 10000  
params.pmdtools_platypus = false  
params.run_mapdamage_rescaling = false  
params.rescale_length_5p = 0  
params.rescale_length_3p = 0  
params.rescale_seqlength = 12  
params.run_bedtools_coverage = false  
params.anno_file = null  
params.run_trim_bam = false  
params.bamutils_clip_double_stranded_half_udg_left = 0  
params.bamutils_clip_double_stranded_half_udg_right = 0  
params.bamutils_clip_double_stranded_none_udg_left = 0  
params.bamutils_clip_double_stranded_none_udg_right = 0  
params.bamutils_clip_single_stranded_half_udg_left = 0  
params.bamutils_clip_single_stranded_half_udg_right = 0  
params.bamutils_clip_single_stranded_none_udg_left = 0  
params.bamutils_clip_single_stranded_none_udg_right = 0  
params.bamutils_softclip = false  
params.run_genotyping = false  
params.genotyping_tool = null  
params.genotyping_source = 'raw'  
params.gatk_call_conf = 30  
params.gatk_ploidy = 2  
params.gatk_downsample = 250  
params.gatk_dbsnp = null  
params.gatk_hc_out_mode = 'EMIT_VARIANTS_ONLY'  
params.gatk_hc_emitrefconf = 'GVCF'  
params.gatk_ug_genotype_model = 'SNP'  
params.gatk_ug_out_mode = 'EMIT_VARIANTS_ONLY'  
params.gatk_ug_keep_realign_bam = false  
params.gatk_ug_defaultbasequalities = null  
params.freebayes_C = 1  
params.freebayes_g = 0  
params.freebayes_p = 2  
params.pileupcaller_snpfile = null  
params.pileupcaller_bedfile = null  
params.pileupcaller_method = 'randomHaploid'  
params.pileupcaller_transitions_mode = 'AllSites'  
params.pileupcaller_min_map_quality = 30  
params.pileupcaller_min_base_quality = 30  
params.angsd_glmodel = 'samtools'  
params.angsd_glformat = 'binary'  
params.angsd_createfasta = false  
params.angsd_fastamethod = 'random'  
params.run_bcftools_stats = true  
params.run_vcf2genome = false  
params.vcf2genome_outfile = ''  
params.vcf2genome_header = ''  
params.vcf2genome_minc = 5  
params.vcf2genome_minq = 30  
params.vcf2genome_minfreq = 0.8  
params.run_multivcfanalyzer = false  
params.write_allele_frequencies = false  
params.min_genotype_quality = 30  
params.min_base_coverage = 5  
params.min_allele_freq_hom = 0.9  
params.min_allele_freq_het = 0.9  
params.additional_vcf_files = null  
params.reference_gff_annotations = 'NA'  
params.reference_gff_exclude = 'NA'  
params.snp_eff_results = 'NA'  
params.run_mtnucratio = false  
params.mtnucratio_header = 'MT'  
params.run_sexdeterrmine = false  
params.sexdeterrmine_bedfile = null  
params.run_nuclear_contamination = false  
params.contamination_chrom_name = 'X' // Default to using hs37d5 name  
params.run_metagenomic_screening = false  
params.metagenomic_complexity_filter = false  
params.metagenomic_complexity_entropy = 0.3  
params.metagenomic_tool = null  
params.database = null  
params.metagenomic_min_support_reads = 1  
params.percent_identity = 85  
params.malt_mode = 'BlastN'  
params.malt_alignment_mode = 'SemiGlobal'  
params.malt_top_percent = 1  
params.malt_min_support_mode = 'percent'  
params.malt_min_support_percent = 0.01  
params.malt_max_queries = 100  
params.malt_memory_mode = 'load'  
params.malt_sam_output = false  
params.run_maltextract = false  
params.maltextract_taxon_list = null  
params.maltextract_ncbifiles = null  
params.maltextract_filter = 'def_anc'  
params.maltextract_toppercent = 0.01  
params.maltextract_destackingoff = false  
params.maltextract_downsamplingoff = false  
params.maltextract_duplicateremovaloff = false  
params.maltextract_matches = false  
params.maltextract_megansummary = false  
params.maltextract_percentidentity = 85.0  
params.maltextract_topalignment = false  
params.multiqc_config = false  
params.max_multiqc_email_size = 25.MB  
params.plaintext_email = false  
params.monochrome_logs = false  
params.help = false  
params.igenomes_base = 's3://ngi-igenomes/igenomes'  
params.custom_config_version = 'master'  
params.custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"  
params.hostnames = false  
params.config_profile_description = false  
params.config_profile_contact = false  
params.config_profile_url = false  
params.max_memory = 128.GB  
params.max_cpus = 16  
params.max_time = 240.h  
docker.enabled = true  
docker.userEmulation = true  
params.outdir = 'out'  
params.publish_dir_mode = 'copy'  
params.conda_enabled = false  
params.igenomes_ignore = false  
params.enable_conda = false  
params.email_on_fail = null  
params.email = null  
process = [:]  
params.ica_smoke_test = false  
process.container = 'nfcore/eager:2.4.6'
includeConfig 'conf/base.ica.config'
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
try {
  includeConfig "${params.custom_config_base}/pipeline/eager.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config/eager profiles: ${params.custom_config_base}/pipeline/eager.config")
}
if (!params.igenomes_ignore) {
  includeConfig 'conf/igenomes.config'
}
process.shell = ['/bin/bash', '-euo', 'pipefail']
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
