manifest {
    name            = 'nf-core/isoseq'
    author          = 'Sébastien Guizard (@sguizard)'
    homePage        = 'https://github.com/nf-core/isoseq'
    description     = 'Genes and transcripts annotation with Isoseq using uLTRA and TAMA'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.1.1'
}
process {
	withName:'CUSTOM_DUMPSOFTWAREVERSIONS' {
	errorStrategy = 'ignore'
	}
}
process {
//   publishDir = [
//        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
//        mode: params.publish_dir_mode,
//        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//    ]
    pod = [
        annotation: 'scheduler.illumina.com/presetSize',
        value: 'himem-small'
    ]    
    cpus = 7
    memory = '60 GB'
    maxForks =  5
//    errorStrategy  = 'ignore'
//    maxRetries = 3
//    errorStrategy = { sleep(task.attempt * 60000 as long); return 'retry' } // Retry with increasing delay
	 withLabel:process_single  {
	 cpus = {  check_max( 1 , 'cpus' )  }
	 memory = {  check_max( 6.GB * task.attempt, 'memory' )  }
	 time = {  check_max( 4.h * task.attempt, 'time' )  }
	 pod = [ annotation: 'scheduler.illumina.com/presetSize' , value: 'standard-small' ]
	}

	 withLabel:process_low  {
	 cpus = {  check_max( 2 * task.attempt, 'cpus' )  }
	 memory = {  check_max( 12.GB * task.attempt, 'memory' )  }
	 time = {  check_max( 4.h * task.attempt, 'time' )  }
	 pod = [ annotation: 'scheduler.illumina.com/presetSize' , value: 'standard-medium' ]
	}

	 withLabel:process_medium  {
	 cpus = {  check_max( 6 * task.attempt, 'cpus' )  }
	 memory = {  check_max( 36.GB * task.attempt, 'memory' )  }
	 time = {  check_max( 8.h * task.attempt, 'time' )  }
	 pod = [ annotation: 'scheduler.illumina.com/presetSize' , value: 'standard-xlarge' ]
	}

	 withLabel:process_high  {
	 cpus = {  check_max( 12 * task.attempt, 'cpus' )  }
	 memory = {  check_max( 72.GB * task.attempt, 'memory' )  }
	 time = {  check_max( 16.h * task.attempt, 'time' )  }
	 pod = [ annotation: 'scheduler.illumina.com/presetSize' , value: 'standard-2xlarge' ]
	}

	 withLabel:process_long  {
	 time = {  check_max( 20.h * task.attempt, 'time' )  }
	}

	 withLabel:process_high_memory  {
	 memory = {  check_max( 200.GB * task.attempt, 'memory' )  }
	 pod = [ annotation: 'scheduler.illumina.com/presetSize' , value: 'himem-large' ]
	}

	 withLabel:error_ignore  {
	 errorStrategy = { 'ignore' }
	}

	 withLabel:error_retry  {
	 errorStrategy = { 'retry' }
	 maxRetries = { 2 }
	}

	 withName:CUSTOM_DUMPSOFTWAREVERSIONS  {
	 cache =  false 
	}

}
