/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes, using s3 paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  // Genomes reference file paths on UPPMAX
  genomes {
    'h38' {
      fasta="${params.genomes_base}/h38/GRCh38.p10.genome.fa"
      fai="${params.genomes_base}/h38/GRCh38.p10.genome.fa.fai"
      fastagz="${params.genomes_base}/h38/GRCh38.p10.genome.fa.gz"
      gzfai="${params.genomes_base}/h38/GRCh38.p10.genome.fa.gz.fai"
      gzi="${params.genomes_base}/h38/GRCh38.p10.genome.fa.gz.gzi"
    }
    'hs37d5' {
      fasta="${params.genomes_base}/hs37d5/hs37d5.fa"
      fai="${params.genomes_base}/hs37d5/hs37d5.fa.fai"
      fastagz="${params.genomes_base}/hs37d5/hs37d5.fa.gz"
      gzfai="${params.genomes_base}/hs37d5/hs37d5.fa.gz.fai"
      gzi="${params.genomes_base}/hs37d5/hs37d5.fa.gz.gzi"
    }
    'grch37primary' {
      fasta="${params.genomes_base}/GRCh37.dna.primary/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
      fai="${params.genomes_base}/GRCh37.dna.primary/Homo_sapiens.GRCh37.dna.primary_assembly.fa.fai"
      fastagz="${params.genomes_base}/GRCh37.dna.primary/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz"
      gzfai="${params.genomes_base}/GRCh37.dna.primary/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz.fai"
      gzi="${params.genomes_base}/GRCh37.dna.primary/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz.gzi"
    }
    'hg19chr20' {
      fasta="${params.genomes_base}/hg19chr20/chr20.fa"
      fai="${params.genomes_base}/hg19chr20/chr20.fa.fai"
      fastagz="${params.genomes_base}/hg19chr20/chr20.fa.gz"
      gzfai="${params.genomes_base}/hg19chr20/chr20.fa.gz.fai"
      gzi="${params.genomes_base}/hg19chr20/chr20.fa.gz.gzi"
    }
    'hg19' {
      fasta="${params.genomes_base}/hg19/hg19.fa"
      fai="${params.genomes_base}/hg19/hg19.fa.fai"
      fastagz="${params.genomes_base}/hg19/hg19.fa.gz"
      gzfai="${params.genomes_base}/hg19/hg19.fa.gz.fai"
      gzi="${params.genomes_base}/hg19/hg19.fa.gz.gzi"
    }
  }
}
